# Contenido de backend/requirements.txt
fastapi
uvicorn[standard]
pydantic
psycopg2-binary
Pillow
anthropic>=0.25.0
python-multipart
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
python-dotenv